<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Best Links!</h1>
            <h3 class="mb-5">
                <em>Store your best links!</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Get started!
            </a>
        </div>
    </header>
</main>